<system.serviceModel>
  <bindings>
    <wsHttpBinding>
      <binding name="MutualCertificateBinding">
        <security mode="Message">
          <message clientCredentialType="Certificate" />
        </security>
      </binding>
    </wsHttpBinding>
  </bindings>
  <services>
    <service name="MySoapService.Service1">
      <endpoint address="" binding="wsHttpBinding" bindingConfiguration="MutualCertificateBinding" contract="MySoapService.IService1" />
    </service>
  </services>
  <behaviors>
    <serviceBehaviors>
      <behavior>
        <serviceCredentials>
          <serviceCertificate findValue="YourServiceCert" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" />
          <clientCertificate>
            <authentication certificateValidationMode="ChainTrust" />
          </clientCertificate>
        </serviceCredentials>
      </behavior>
    </serviceBehaviors>
  </behaviors>
</system.serviceModel>